div.about-container{
    width: 100%;
    padding-top: var(--padding-height);
    color: black;
    margin: auto;
    text-align: center;
}

div.about-body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

div.block{
    display: flex;
    width: 390px;
    height: 500px;
    margin-right: 40px;
    background-color: var(--nav-colour);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

img.headshot{
    width: 340px;
}


div.about-information{
    width: 600px;
    text-align: left;
    height: 500px;
    position: relative;
}

div.about-information p{
    text-align: justify;
}

div.about-bio{
    position: absolute;
    top: 0;
}

div.about-mvc{
    margin-top: 20px;
    width: 1000px;
    text-align: justify;
}

div.about-blurb{
    margin: 50px 0px;
}

h2{
    color: var(--nav-colour);
}

h2 span{
    color: grey; 
    font-weight: 100; 
}

div.certifications {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

div.badges{
    display: flex;
    width: 150px;
    justify-content: space-between;
}

img.badge{
    width: 50px;
    height: 50px;
}


@media screen and (max-width: 1029px) {
    div.about-information{
        margin-top: 50px;
        height: auto;
        width: 80%;
    }
    
    div.about-mvc{
        width: 80%;
    }

    div.block {
        margin-right: 0px;
    }
}

@media screen and (max-width: 750px) {
    div.badges{
        margin: 20px 0px;
    }

    div.certifications {
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 450px){
    div.about-information {
        padding-bottom: 40px;
    }

    div.block {
        width: 300px;
        height: 390px;
        margin-right: 0px;
    }

    img.headshot {
        width: 260px;
    }
}