div.email-form{
    width: 70%;
    margin: auto;
    padding-top: var(--padding-height);
}

h1.contact-header{
    text-align: center;
}

div.form-container{
    margin: auto;
    width: 525px;
}

div.row{
    display: flex;
    height: 150px;
}

div.spacing-left{
    padding-left: 100px;
}

input {
    padding-left: 10px;
}

input.contact-email{
    height: 40px;
    width: 200px;
    font-family: "FuturaLT Regular" !important;
    font-size: 16px;
    border: solid 2px black;
    color: var(--main-colour);

    -webkit-transition: all .2s ease-in-out;
      -moz-transition:  all .2s ease-in-out;
       -ms-transition:  all .2s ease-in-out;
        -o-transition:  all .2s ease-in-out;
           transition:  all .2s ease-in-out;
}

textarea.comment-box{
    height: 200px;
    width: 500px;
    font-family: "FuturaLT Regular" !important;
    font-size: 16px;
    color: var(--main-colour);
    padding: 10px;
    border-width: 2px;
    border-style: inset;
    border: solid 2px black;

    -webkit-transition: all .2s ease-in-out;
      -moz-transition:  all .2s ease-in-out;
       -ms-transition:  all .2s ease-in-out;
        -o-transition:  all .2s ease-in-out;
           transition:  all .2s ease-in-out;
}

input.submit{
    height: 50px;
    width: 100px;
    margin-top: 40px;
    font-family: "FuturaLT Regular" !important;
    font-size: 20px;
    background-color: white;
    color: black;
    border: solid 2px black;
    
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    -webkit-transition: all .5s ease-in-out;
      -moz-transition:  all .5s ease-in-out;
       -ms-transition:  all .5s ease-in-out;
        -o-transition:  all .5s ease-in-out;
           transition:  all .5s ease-in-out;
}

input.submit:hover{
    color: var(--main-colour);
    border: solid 2px;
}

input:focus, textarea:focus{
    outline: none;
    border: solid 2px var(--nav-colour);
}

div.contact-information{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 30px 0 90px 0;
    position: relative;
}

h3.contact-title{
    font-size: 30px;
    letter-spacing: 3px;
    color: var(--nav-colour);
}

i.ct{
    color: var(--nav-colour);
    padding-right: 10px;
    font-size: 30px;
}

div.contact-info{
    display: flex;
    align-items: center;
}

.contact-text{
    font-size: 20px;
    font-weight: bold;
    color: #b2ab9ba1;
}

h2.consultation{
    padding-top: 40px;
    font-size: 40px;
    letter-spacing: 3px;
    color: var(--nav-colour);
}

div.ci-con{
    position: absolute;
}

@media screen and (max-width: 700px) {
    div.email-form{
        width: 90%;
    }

    div.form-container{
        width: 100%;
    }

    div.ci-con{
        position: relative;
        width: 300px;
        margin: auto;
    }

    div.contact-information{
        padding: 0;
    }
}

@media screen and (max-width: 560px){
    div.row{
        height: 250px;
        display: block;
    }

    div.spacing-left{
        padding-left: 0;
    }

    input.contact-email{
        width: 250px;
    }

    textarea.comment-box{
        width: 90%;
        height: 250px;
    }

}