div.financial-container{
    width: 100%;
    padding: 75px 0px;
    background-color: var(--nav-colour);
    color: white;
    margin: auto;
    text-align: center;
}

div.financial-services{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

div.financial-service{
    width: auto;
    height: 200px;
    margin: 0px 40px
}

h1.financial-header{
    color: white;
}

h3.service-title{
    text-align: left;
    font-weight: 100;
    font-size: 35px;
    color: #f1f1ef;

    -webkit-transition: all .3s ease-in-out;
      -moz-transition:  all .3s ease-in-out;
       -ms-transition:  all .3s ease-in-out;
        -o-transition:  all .3s ease-in-out;
           transition:  all .3s ease-in-out;
}

h3.service-title:hover{
    color: #d6d4ce;
}

p.service-text{
    text-align: justify;
}


@media screen and (max-width: 600px){
    div.financial-service{
        margin: 50px 40px;
    }
}